html
  head
    title grid
    script(src='build/build.js')
    link(rel='stylesheet', href='build/build.css')

    :stylus
      body
        padding: 50px

  h1 grid

  :coffeescript
    console.log 'Testing grid'
